<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Correo Godivisa</title>
    </head>
    <!-- <body background="http://168.121.46.42/Otros/service/web/Godivisa/Correo/correoBienvenida_fondo.png" style="background-size: cover"> -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" background="http://168.121.46.42/Otros/service/web/Godivisa/Correo/correoBienvenida_fondo.png" style="background-size: cover">
                      <tr>
                          <td></td>
                          <td align="center"><img src="http://168.121.46.42/Otros/service/web/Godivisa/Correo/correoBienvenida_logo.png" alt="header" style="width:45%; height: auto; "></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>
                            <td align="center">
                                <div style="width: 90%">
                                  <p style="color:white; font-family:Arial; font-size:2.2em;">
                                    <font color="E6B530"><b>Estimado(a) {{receptor}}</b></font>
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:2em; margin: 0 6% 4%">
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                      En referencia a la operación pactada N° {{numOpe}}, le hacemos llegar las instrucciones de depósito y el detalle de todas las ofertas que sustentan ha tomado la mejor decisión de cambio:
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; margin: 0 6% 4%">
                                    Le recordamos que de acuerdo a contrato N° 123445 el incumplimiento del depósito hasta la hora pactada está sujeta a una penalidad equivalente a 3 veces  el valor de la comisión, facturadas y cargadas a las cuentas autorizadas
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                    <font color="E6B530">Juan Manuel Gómez,</font>
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                    <font color="E6B530">Asesor: 994001225</font>
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                    <font color="E6B530">www.GoDivisa.com</font>
                                  </p>
                                </div>
                            </td>
                          </td>
                      </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

