<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Correo Godivisa</title>
    </head>
    <!-- <body background="http://168.121.46.42/Otros/service/web/Godivisa/Correo/correoBienvenida_fondo.png" style="background-size: cover"> -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" background="http://168.121.46.42/Otros/service/web/Godivisa/Correo/correoBienvenida_fondo.png" style="background-size: cover">
                      <tr>
                          <td></td>
                          <td align="center"><img src="http://168.121.46.42/Otros/service/web/Godivisa/Correo/correoBienvenida_logo.png" alt="header" style="width:45%; height: auto; "></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>
                            <td align="center">
                                <div style="width: 90%">
                                  <p style="color:white; font-family:Arial; font-size:2.2em;">
                                    <font color="E6B530"><b>Estimado(a) {{receptor}}</b></font>
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:2em; margin: 0 6% 4%">
                                    <b>Bienvenidos a GoDivisas.com</b>
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                  Ahora tu empresa es <font color="E6B530"><b>DIGITAL</b></font> y es parte de la comunidad mas  <font color="E6B530"><b>SEGURA</b></font> y
                                  <font color="E6B530"><b>RAPIDA</b></font> de cambio de monedas  <font color="E6B530"><b>GoDivisas.com</b></font>!
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; margin: 0 6% 4%">
                                    Recibirás ofertas de dólares de nuestra red de personas y empresas afiliadas, ofrece tu mejor cambio y logra maximizar tus utilidades!
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                    <font color="E6B530"><b>Usuario: {{numDoc}}</b></font>
                                  </p>
                                  <p style="color:white; font-family:Arial; font-size:1.5em; ">
                                    <font color="E6B530"><b>Contraseña: {{password}}</b></font>
                                  </p>
                                </div>
                            </td>
                          </td>
                      </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

